body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;

  margin-bottom: 50px;
}

.head .title {
  color: black;
}

.visual-container {
  background-color: rgb(255, 242, 232);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: relative;
}

.left {
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-shadow: #8e8e8eb5 0px 0px 10px 0px;
}

.options {
  position: absolute;
  top: 4rem;
  left: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: rgba(0, 0, 0, 0.7);
}

input {
  font-size: 0.6rem;
}

.left .visuals {
  margin-top: 8rem;
}

.left .option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 80%;
  width: 50%;
  overflow: auto;
  position: relative;
}

.right .map-interact {
  margin-top: 50rem;
}

.right .arrow-left {
  position: absolute;
  top: 50%;
  left: 5%;
  color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.right .arrow-right {
  position: absolute;
  top: 50%;
  right: 5%;
  color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.right .arrow-left:hover,
.right .arrow-right:hover {
  cursor: pointer;
}

.right .line-bar-chart {
  margin-top: 5rem;
}

.right #vis7 {
  height: 5rem;
}
